table {
  width: 100%;
  border-radius: 5em;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  justify-content: center;
}

th.mat-header-cell {
  font-weight: bold;
  font-size: 1.2em;
  color: #4527A0;
}

td.mat-cell {
  font-size: 1em;
  font-weight: 500;
}

#editbtn {
  color: #4527A0;
}

#deletebtn {
  color: #F44336;
}

#exitbtn {
  color: #F44336;
}

#visibilitybtn {
  color: #009688;
}

::ng-deep .mat-tooltip {
  font-size: 12px !important;
}

#profile {
  color: #F44336;
}

.filter-container {
  display: flex;
}

.search-input {
  width: 30%;
}

.status-filter {
  margin-left: 10px;
  width: 20%;
}

.company-filter {
  margin-left: 10px;
  width: 20%;
}

::ng-deep {
  .mat-form-field .mat-form-field-flex {
    background-color: white;
  }
}

::ng-deep .mat-select-content{
  font-size: 1em;
}
