<div class="logo">
    <a routerLink="/formulaire-entreprise" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png"/>
        </div>
        GRH
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p class="menu-item-title">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
